/* Footer */
.footer {
  background-color: var(--primary-active);
}

.footer__content {
  padding-block: var(--spacing-10);
  display: grid;
  grid-template-rows: 1fr 0.6fr 0.7fr;
  place-items: center;
  gap: var(--spacing-10);
}

.footer__media {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  align-items: center;
  justify-content: center;
}

.footer__logo {
  max-width: 140px;
  object-fit: cover;
}

.footer__social-media ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-12);
}

.footer__social-media li,
.footer__links li {
  list-style: none;
}

.footer__social-media img {
  width: 28px;
}

.footer_social-media a,
.footer__links a {
  text-decoration: none;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.footer__contact div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2);
}

.footer__contact p {
  text-align: center;
  font-size: var(--font-base);
  font-weight: 500;
  color: var(--white);
}

.footer__quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
  gap: var(--spacing-1);
}

.footer__quote p {
  font-family: monospace;
  font-weight: 500;
  text-align: justify;
  color: var(--white);
}

.footer__quote small {
  font-family: monospace;
  font-size: var(--font-xs);
  font-weight: 500;
  text-align: right;
  color: var(--white);
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-3);
}

.footer__links h2 {
  font-size: var(--font-base);
  font-weight: 600;
  text-align: center;
  color: var(--white);
}

.footer__links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-1);
}

.footer__links a {
  font-size: var(--font-base);
  font-weight: 500;
  color: var(--white);
  line-height: var(--spacing-6);
}

.footer--copyright {
  padding-block: var(--spacing-4);
}

.footer--copyright p {
  font-size: var(--font-xs);
  font-weight: 600;
  color: var(--background-active);
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.footer--copyright a {
  text-decoration: none;
  color: var(--yellow-500);
  cursor: pointer;
}

@media (min-width: 768px) {
  .footer {
    padding-inline: var(--spacing-20);
  }

  .footer__logo {
    max-width: 170px;
  }

  .footer__social-media img {
    width: 30px;
  }
}

@media (min-width: 1280px) {
  .footer {
    padding-inline: var(--spacing-20);
  }

  .footer__content {
    padding-block: var(--spacing-10);
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 120px;
  }

  .footer__logo {
    max-width: 200px;
  }

  .footer__contact p,
  .footer__quote p,
  .footer__links a {
    font-size: var(--font-lg);
  }

  .footer__quote small {
    font-size: var(--font-sm);
  }

  .footer__links {
    gap: var(--spacing-7);
    align-items: flex-start;
  }

  .footer__links h2 {
    font-size: var(--font-xl);
  }

  .footer__links ul {
    gap: var(--spacing-3);
    align-items: flex-start;
  }
}
